html{
	margin:auto;
	align-items: center;
}

body{
	background-color: #373d4f;
	color: white;

}
#menu{
	background-color: #1d1a52;
	color: white;
	align-items: center;
	text-align: center;
	margin: 0;
	border:0;
	border-radius: 0;

}
.menumenu{
background-color: transparent;
padding: 0;


}

.menumenu li a{
	color: white;


}
.menumenu li{
	margin-bottom: 5px;
	
	padding: 10px;
	background-color: #1d1a52;
	:last-child{
		margin-bottom:0px;
	}

}

.menumenu li:last-child{
	margin-bottom: 0;
}

#logo{
margin-top: 0;
margin-bottom: 0;
margin-right: 10px;
margin-left: 1px;

padding: 7px;
}
#logoimg{
	width: 135px;
	height: 35px;
	margin-top: 5px;

}
#pes {
    padding:0;
    background-color:#223870;
    border:0;

    
}
#pesimagem{
	width: 25px;
	height: 25px;
}
.loginimg{
	margin-left: 50px;
	margin-bottom: 0px;
}


.nav > li > a {
    position: relative;
    display: block;
    padding: 15px 45px;
    margin-top: 3px;
}
.navbar-default .navbar-nav > li > a {
    color: white;
}
.barra{
	padding: 2px;
}
.container{
	padding-top: 25px;
	padding-left: 0;
	margin-left: 70px;
	margin-right: 20px;
	width: 90%;
	
}

.btn{
	border-radius: 0;
	background-color: #a7a9ab;
	padding: 8px 40px 8px 40px;
	font-weight: bold;
}
.bot{
	margin-right: 15px;
}

#busca{
	float:left;
  
  padding-left:5px;
  font-style:italic;
  font-size:18px;
  border:none;
  height:27px;
  width:350px;
	 border-radius: 30px;

	
}
#pesquisar{
	float:left;
  
  padding-left:5px;
  
  font-size:15px;
  border:none;
  height:23px;
  width:250px;
	 border-radius: 30px;

	
}
.divBusca{
  background-color:white;
  border:solid 1px;
  border-radius: 30px;
  
  
}
.btnBusca{
margin-right: 25px;
margin-top: 2px;
}
.text{
	
	text-align: right;
	padding: 0;
	
}
.text h6{
	font-size: 15px;
	margin:0;

}
.mais{
	padding: 0;
}
.imgmais{
	width: 37px;
	height: 37px;
	
}
.mais h6{
	margin:0;
	width: 50px;

}
.titulo{
	background-color: #286e9c;
	margin:0;
	font-weight: normal;
}
.titulo h3{
	background-color: #286e9c;

	margin:0 0 0 20px;
	border:0;
	color: white;
	padding: 10px 10px 10px 26px;
	padding-right: 20px;
}
.combobo{
	background-color: #50555e;
	padding: 5px;
	
	margin-bottom: 5px;
	margin: 0;

}
.combAluno h4{
	margin:0;
	width: auto;
	font-weight: bold;
}
#notas{
	margin-top: 5px;
	
	border:1px solid;
	background-color: transparent;
}





 

.primeiraParte{
	width: 100%;
	background-color: #50555e;
}
.combAluno{
	margin-right: 0;
	padding: 20px;
	margin-left: 20px;
}

#btNotas{
	padding-right: 60px;
	padding-left: 60px;
}

#btFre{
	
	

    

}

.btn-primary {
    color: #fff;
    background-color: #286e9c;
    border-radius: 5px;

    
}
.btn-primary.active{

    color: #fff;
    background-color: #224d66;
    
}

.btn-primary.active:hover{
background-color: #224d66;	
}
.btn-primary:hover {
    color: #fff;
    background-color: #224d66;
  }

.caixa{
	background-color: #50555e;
	width: 100%;
	padding: 10px 30px 10px 10px;
	
	
	
	}

.caixa2{
	background-color: transparent;
	width: 100%;
	
	padding: 10px 30px 10px 10px;
	

	
}
.col-sm-1{
	text-align: center;
}

#alunos{
	margin-left: 20px;
	display: block;
}
.dropmen{
	background-color: #50555e;

}
.dropmen li a{
	color:white;
}
.dropdrop{
	background-color: transparent;
	border:0;
}
#frequencia{
	margin-left: 20px;
	display: none;
}